PORT=3000
DATABASE_URL="postgresql://neondb_owner:npg_gjDfpS5co4ym@ep-orange-lake-b56goaoy-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
OPENWEBNINJA_API_KEY="ak_pseuopaz2lsw9e96espx2719o42ku3ri2qvpgmu4na42e2l"
GOOGLE_MAPS_API_KEY="AIzaSyAgJYZwlrGuyennA0-ddFu6ioIhpB47yyA"